<div class="row">
    <div class="btn-toolbar col-md-9">
        <div class="btn-group">

            <a href="https://twitter.com/igbbioviz" class="btn btn-default" >
                <img src="img/twitter.png" height="24" width="24">Follow
            </a>

        </div>
        <div class="btn-group">
            <a href="http://www.youtube.com/channel/UC0DA2d3YdbQ55ljkRKHRBkg" class="btn btn-default">
                <img src="img/yt-brand-standard-logo-95x40.png" height="24" alt="blank"/>
            </a>

        </div>
        <div class="btn-group">
            <a href="http://www.nih.gov/" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Development of IGB is funded by the National Institutes of Health">
                <img src="img/NIH_custom.png" height="24" alt="blank"/> 
            </a>
        </div>
<!--        <div class="btn-group">
            <a href="https://bitbucket.org/lorainelab/integrated-genome-browser" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Source code">
                <i class="fa fa-bitbucket"></i>
                &nbsp;View on Bitbucket
            </a>
        </div>-->
    </div>
    <div class="col-md-3">
        <div class="pull-right">
            <div>&copy; UNC Charlotte, all rights reserved </div>
        </div>
    </div>        
</div>
